@import 'helpers/helpers', 'partials/partials';

/*!   === Custom Font's  ===   */
@include font-face('Fontello', '../fonts/Fontello/Fontello');
@include font-face('Montserrat-Black', '../fonts/Montserrat/Montserrat-Black'); // 900
@include font-face('Montserrat-ExtraBold', '../fonts/Montserrat/Montserrat-ExtraBold'); // 800
@include font-face('Montserrat-Bold', '../fonts/Montserrat/Montserrat-Bold'); // 700
@include font-face('Montserrat-SemiBold', '../fonts/Montserrat/Montserrat-SemiBold'); // 600
@include font-face('Montserrat-Medium', '../fonts/Montserrat/Montserrat-Medium'); //500
//

/*!   === Main CSS ===   */
body {
  font-family: 'Montserrat-Medium';
}

.background {
  background-size: cover;
  background-image: url('/img/background.png');
  background-repeat: no-repeat;
}

@import 'pages/pages';
@import 'components/components';
