<!-- Header -->
<header class="header">
  <div class="container">
    <div class="header-wrapper">
      <h1>Publist</h1>
      <nav>
        <ul>
          <li><a href="/" title="Home">Home</a></li>
          <li><a href="/" title="Product">Product</a></li>
          <li><a href="/" title="Pricing">Pricing</a></li>
          <li><a href="/" title="Contact">Contact</a></li>
        </ul>
      </nav>
      <div class="nav-buttons">
        <button class="icon-btn-cart">
          <img src="/img/icons/cart.svg" alt="cart">
        </button>
        <button class="icon-btn-search">
          <img src="/img/icons/search.svg" alt="search">
        </button>
      </div>
      <button class="icon-btn-toggler">
        <img src="/img/icons/toggler.svg" alt="toggler">
      </button>
    </div>
  </div>
</header>
<!-- /Header -->